.chart-container {
  display: flex;
}

.chart-content {
  width: 100%;
}

.chart-legend {
  text-align: left;
}

.rv-xy-plot__axis__tick__text {
  /* Override the default text colour of the axis labels, which is too light */
  fill: #182026 !important;
}
