/* Workarounds for https://github.com/tannerlinsley/react-charts/issues/269 */
.action-voronoi {
  /* Round the corners of the voronoi rectangles so the tooltips cover the corner series points */
  stroke-linecap: round;
  /* This needs to be at least twice the size of the circle radius set in Chart.tsx (circle: {r: 5) */
  stroke-width: 14px !important;
}

/* Allow the chart to be resized within limits, more-or-less keeping the same height/width ratio */
.chart-container {
  /* NOTE: Keep the same 3/2 ratio when adjusting these values for optimum UX */
  height: 55vw;
  min-height: 400px;
  min-width: 600px;
  max-height: 600px;
  max-width: 900px;
  width: 82.5vw;
}

.chart-content {
  height: 100%;
}
